/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
  box-sizing: border-box;
}

.app{
  font-family: "Cutive Mono", sans-serif;
  margin-top: 50px;
  padding: 2px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
}